.custom-font1{
    font-family: 'Silkscreen', sans-serif;
}

.custom-font2{
    font-family: 'Preahvihear', sans-serif;
}

.height100{
    height: 100px;
}

.nav-logo{
    height: 30%;
    width: 50%;
}

.nav-page{
    color: orange;
    font-family: 'Silkscreen', sans-serif;
    border: 2px solid white;
}

.nav-page:hover{
    color: black;
}

.service-img{
    height: 100%;
    width: 40%;
    margin-left: 20%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
}

.emp{
    height: auto;
}

.emp-card{
    height: 500px;
}

.emp-img{
    height: 300px;
    width: 270px;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

